body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
}

nav {
    background-color: #b3ecff;
    padding: 15px;
}

nav a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #e9eced;
}

main,
section,
h2,
ul,
li {
    margin-top: 20px;
}

section {
    margin-bottom: 30px;
}

img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

h2 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #f5f5f5;
}

.book {
    display: flex;
    align-items: center;
}

.book img,
a img {
    max-width: 200px;
    margin-right: 20px;
}
