body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

header, h2{
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #3498db;
    padding: 20px;
    border-radius: 5px;
}

nav a, .categ a {
    text-decoration: none;
    margin: 10px;
    padding: 10px 15px;
    font-weight: bold;
    color: #ecf0f1;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #2980b9;
}

main,
section,
h2,
ul,
li {
    margin-top: 20px;
}

section {
    margin-bottom: 30px;
}

section img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    padding: 50px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #3498db;
}

.book {
    display: flex;
    align-items: center;
}

.book:hover {
    background-color: #ecf0f17b;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    padding: 50px;
}

img {
    max-width: 200px;
    margin-right: 20px;
    max-height: 300px;
}

.libros_principal, .categ {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.categ li:hover {
    background-color: rgba(255, 255, 255, 0.768);
    border-radius: 20px;
    padding: 10px;
}

.categ a:hover {
    color: black;
}

.categ li {
    background-color: rgba(118, 142, 162, 0.484);
    border-radius: 20px;
    padding: 10px;
}

